@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:900&display=swap");

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* scroll-snap-type: mandatory; */
  background-color: #fff;
}
section {
  position: relative;
}
.down-arrow {
  position: absolute;
  font-size: 46px;
  left: 48%;
  transform: translateX(-50%);
  bottom: 4px;
}
@keyframes glowing {
  from {
    text-shadow: -1px 0px 3px rgba(255, 255, 255, 0.4);
  }
  to {
    text-shadow: -1px 0px 6px rgba(255, 255, 255, 0.8);
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 95vh;

  background: #000;
}
#cta_links a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px;
  color: #3b3a36;
  font-size: 30px;
  transition: transform 0.3s;
  will-change: transform;
}
#cta_links a:hover {
  transform: scale(1.1);
}

#cta_links svg {
  vertical-align: top;
}
.arrow-container {
  -webkit-animation-delay: 5s;
  clear: both;
}
.intro .down-arrow {
  color: white;
}
section.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.intro .text-wrapper {
  text-align: center;
}
section.intro .img-wrapper {
  padding: 0 0 0 80px;
}

section.intro .img-wrapper > img {
  opacity: 1;
  width: 180px;
  height: auto;
}

.intro h1 {
  position: relative;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 55px;
  margin: 0px;
  animation: glowing;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.intro h2 {
  position: relative;
  color: white;
  font-family: "Roboto Mono", monospace;
  margin: 5px auto;
  font-size: 25px;
}
.about {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 18%,
    rgba(192, 223, 217, 1) 100%
  );

  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 18%,
    rgba(192, 223, 217, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 18%,
    rgba(192, 223, 217, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 18%,
    rgba(192, 223, 217, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 18%,
    rgba(192, 223, 217, 1) 100%
  );
  position: relative;
  /*height: 95vh;*/
}
.about {
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px 40px;
  margin: 0 auto;
}
.about .left {
  flex: 2;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 20px;
}
.about .left img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 5px 10px #b3c2bf;
}
.about .right {
  flex: 3;
  /* margin-left: 100px; */
  display: inline-block;
  vertical-align: top;
}
.about .right h1 {
  color: #3b3a36;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}
.about .right p {
  font-family: "Roboto Mono", monospace;
  color: #3b3a36;
  line-height: 1.4em;
}
.about .section .down-arrow {
  color: #3b3a36;
}
section.skills {
  padding-top: 10vh;
  position: relative;
  background: #fff;
}
section.skills .down-arrow {
  color: #3b3a36;
}
section.skills h1 {
  color: #3b3a36;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}
.skill {
  background-color: #c0dfd9;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  padding: 11px 20px;
  margin: 4px 4px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #b3c2bf;
  float: left;
}
.skills ul {
  width: 65%;
  height: 65vh;
  margin: 0 auto;
  padding-left: 5%;
}
section.projects {
  position: relative;
  background: #fff;
  padding: 0 0 40px 0;
}
section.projects h1 {
  margin: 0 auto;
  color: #3b3a36;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  text-align: center;
  text-shadow: 4px 4px 4px #e9ece5;
  font-size: 65px;
}
section.projects > h1 {
  padding: 40px 0;
}
.project-container {
  position: relative;
  opacity: 0;
  transform: scale(0);
  transition: all 1s;
}
.project-container.in {
  opacity: 1;
  transform: scale(1);
}
.project-section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 60px 40px 85px 40px;
  box-sizing: border-box;
}
.project-section.in {
}

.project-section .left {
  flex: 2;
  display: flex;
  align-items: center;
}
.project-section .left img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(233, 236, 229, 0.4);
  box-shadow: 0px 4px 4px #e9ece5;
}
.project-section .left .imageWrapper {
  /* width: 90%; */
  text-align: center;
}
.project-section .left .imageWrapper img {
  width: 100%;
  height: auto;
  background-color: white;
}
.trivial,
.gameOfLife,
.zombieConga,
.chameleon,
.ninjaImage {
  border-radius: 5%;
  box-shadow: 0px 5px 10px #b3c2bf;
}
.project-section .right {
  flex: 3;
  /* display: inline-block;
  width: 55%; */
}
.project-section .right h1 {
  color: #3b3a36;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 4px 4px #e9ece5;
}
.project-section .right p {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #3b3a36;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  line-height: 1.4em;
}
ul.skills {
  width: 65%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul.skills > li {
  display: inline-block;
  padding: 5px 15px;
  background-color: #c0dfd9;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  padding: 7px 15px;
  margin: 4px 4px;
  border-radius: 15px;
  white-space: nowrap;
  box-shadow: 0px 3px 5px #b3c2bf;
}
.links {
  display: block;
  text-align: center;
}
.links a {
  color: #3b3a36;
  display: inline-block;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  transition: transform 0.3s;
  will-change: transform;
}
.links a:hover {
  transform: scale(1.1);
}

.demoContainer {
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
  text-align: center;
}
.githubContainer {
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 1px;
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about .left {
    max-width: 400px;
  }
  .about .right h1,
  .about .right p,
  .about .right #cta_links {
    text-align: center;
  }

  .project-section {
    flex-direction: column;
    padding: 30px 40px;
  }
  .project-section .left img {
    max-width: 620px;
    margin: 0 auto;
  }
  .project-section .right {
    flex: 1;
    padding: 30px 0 0 0;
  }

  section.intro {
    flex-direction: column-reverse;
  }
  section.intro .img-wrapper {
    padding: 0 0 20px 0;
  }
  ul.skills {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (max-width: 414px) {
}
